.footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    &__container {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        width: 80%;
    }
    a {
        color: #000;
        font-family: Roboto;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.container {
    display: flex;
    margin-left: 80px;
    align-items: center;
}